<div class="item-section">

  <div class="watch-item">
    <div class="watch-logo">
      <img src="../../../assets/watch.jpg" alt="">
    </div>
    <div class="watch-info">
      <h3>Apple Watch Series 1</h3>
      <p>100$</p>
    </div>
  </div>

  <div class="watch-item">
    <div class="watch-logo">
      <img src="../../../assets/watch.jpg" alt="">
    </div>
    <div class="watch-info">
      <h3>Apple Watch Series 1</h3>
      <p>100$</p>
    </div>
  </div>

  <div class="watch-item">
    <div class="watch-logo">
      <img src="../../../assets/watch.jpg" alt="">
    </div>
    <div class="watch-info">
      <h3>Apple Watch Series 1</h3>
      <p>100$</p>
    </div>
  </div>

  <div class="watch-item">
    <div class="watch-logo">
      <img src="../../../assets/watch.jpg" alt="">
    </div>
    <div class="watch-info">
      <h3>Apple Watch Series 1</h3>
      <p>100$</p>
    </div>
  </div>
</div>

